/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}


#nav{
    text-align: center;
}

#nav .item{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #333;
    text-align: center;
    display: inline-block;
    color: #BBB;
    margin: 0px 2px;
    font-size: 9px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 6px;
}

#nav .item.pending{background-color: #994142; color: #fff;}
#nav .item.completed{background-color: #4B996E; color: #fff;}
#nav .item.current{background-color: #447299; color: #fff; width: 26px; height: 26px; margin-bottom: 0px; line-height: 25px; font-size: 11px; font-weight: bold;}

