// Navbar
// -----------------------------------------------------

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-size: $font-size-large;
    
    span {
        display: inline-block;
        padding-left: 44px;
        font-family: $headings-font-family;
    }
    
    > svg {
        position: absolute;
        top: 17px;
    }
}

.navbar-nav {
    img {
        position: absolute;
        left: -22px;
        top: 17px;
        width: 28px;
        height: auto;
    }
}

.navbar-collapse {
    border-top: none;
}