// Technologies
// -----------------------------------------------------
#technologies {
    background: $technologies-bg;
    
    .technologies-list {
        .scala {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $scala;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($scala, 5%);
                    }
                }
            }
        }
        .akka {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $akka;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($akka, 5%);
                    }
                }
                
            }
        }
        .play {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $play;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($play, 5%);
                    }
                }
            }
        }
        .slick {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $slick;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($slick, 5%);
                    }
                }
            }
        }
        .spark {
            .panel-default {
                .panel-heading,
                .progress-bar, 
                .btn-primary {
                    background: $spark;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($spark, 5%);
                    }
                }
            }
        }
        .scalaz {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $scalaz;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($scalaz, 5%);
                    }
                }
            }
        }
        .shapeless {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $shapeless;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($shapeless, 5%);
                    }
                }
            }
        }
        .cats {
            .panel-default {
                .panel-heading,
                .progress-bar,
                .btn-primary {
                    background: $cats;
                }
                
                .btn-primary {
                    &:hover {
                        background: darken($cats, 5%);
                    }
                }
            }
        }
    }
}