// Base
// =====================================

// Global

html,
body {
    @include global;
}

hr {
    border: none;
    height: 1px;
    background: rgba($color-dark-primary, 0.2);
}


// Header

#intro { 
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    background: $color-dark-second;
    z-index: 1;
    
    .content-image {
        bottom: 0;
        display: block;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        background: url(../images/background.png) no-repeat;
        @include image-size;
        opacity:0;
        z-index: 0;
    }
    
    .presentation {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        z-index: 2;
    }
}

// Content

#content {
    padding: $padding-layout-general-large 0;
    
    .introduction {
        margin-bottom: $padding-layout-general-small;
    }
    
    .step {
        margin: $padding-layout-general-small 0;
    } 
}

// Footer

#bottom {
    background: $color-dark-primary;
    
    .link-content,
    .spread {
        padding: $padding-layout-general-small 0;
        background: $color-dark-third;
    }
    
    .link-content {
        background: $color-dark-third;
    }
    
    .spread {
        background: $color-dark-second;
    }
    
    .about {
        padding: 20px 0;
    }
}