// Base
// =====================================

// Global

html,
body {
    @include global;
}

hr {
    border: none;
    height: 1px;
    background: rgba($color-dark-primary, 0.2);
}


// Header

#intro,
.link-content{ 
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    background: $color-dark-second;
    z-index: 1;
    
    .content-image {
        bottom: 0;
        display: block;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        background: url(../images/background.jpg) no-repeat center center fixed;
        @include image-size;
        opacity: 0.4;
        z-index: 0;
    }
    
    .presentation {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        z-index: 2;
        @include fadeInDown();
    }
}

// Content

#content {
    padding: $padding-layout-general-large 0;
    
    .introduction {
        margin-bottom: $padding-layout-general-small;
    }
    
    .step {
        margin: $padding-layout-general-small 0;
        
        .step-content {
            
            margin-bottom: 40px;
        
            .step-text {
                padding-left: 140px;
            }

            .step-icon {
                opacity:0.0;
                padding-top: 20px;
                float: left;
                
                img {
                    width: 110px;
                }
            }
            
            .step-approved {
                img {
                    width: 121px;
                }
            }
        }
    }
}

#contentKoans{
    background-color: #FFF;
    margin-bottom: 120px;
    position: relative;
    z-index: 1;
}

// Footer

#bodykoans footer{
    position: fixed;
    bottom:0px;
    width: 100%;
    z-index: 0;
    
    padding-left: 16%;
}

@media (max-width: 768px) {
    #bodykoans footer{
        padding-left: 0;
    }
}


#bottom {
    display: none;
    background: $color-dark-primary;
    
    
    .link-content,
    .spread {
        padding: $padding-layout-general-small 0;
        background: $color-dark-third;
    }
    
    .link-content {
        background: $color-dark-third;
        
        .content-image-footer {
            opacity: 0.12;
        }
        
        .icon-general {
            opacity:0.0;
            width: 100%;
            height: 120px;
        }
        
        .icon-books {
            background: url("../images/icon_books.png") center center no-repeat;
            @include image-2x("../images/icon_books2x.png", 110px, 110px);
        }
        
        .icon-official-docs {
            background: url("../images/icon_official_docs.png") center center no-repeat ;
            @include image-2x("../images/icon_official_docs2x.png", 110px, 110px);
        }
        
        .icon-blog {
            background: url("../images/icon_blog.png") center center no-repeat;
            @include image-2x("../images/icon_blog2x.png", 110px, 110px);
        }
        
        .item {
            opacity: 1.0;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        
        .item:hover {
            opacity: 0.5;
        }
    }
    
    .spread {
        background: $color-dark-second;
    }
    
    .about {
        padding: 20px 0;
        
        img {
            width: 30px;
            height: auto;
            margin-right: 10px;
        }
    }
}
