// Buttons
// =====================================

// Base styles

.btn {
    text-transform: uppercase;
    font-weight: $font-semibold;
    border: none;
}

// Buttons sizes

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $buttons-padding-large-horizontal, $font-size-large, $line-height-large, $buttons-border-radius-large);
}
