
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -3px;
}

.ribbon-green {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #859900;
  color: #FFF;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   2px solid #486026;   
  border-left:  2px solid transparent;
  border-right: 2px solid transparent;
  position:absolute;
  bottom: -2px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}