// Base
// =====================================

body {
    color: $color-dark-fourth;
}

h1 {
    color: $color-white;
}

h2, h3 {
    color: $color-dark-third;
}

h3 {
    text-transform: uppercase;
}


.lead {
    font-size: floor(($font-size-base * 1.5));
    font-weight: $font-regular;
    color: rgba($color-white, 0.4);
}

#gitHubLayer{
    visibility: hidden; 
    width: 300px;
    margin: 100px auto 0px;
    color: rgba(255, 255, 255, 0.6);
}

#gitHubLayer.animated {
    visibility: visible !important;
}

#gitHubLayer a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#gitHubLayer a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

#gitHubLayer .fa-main{
    font-size: 40px;
    margin-bottom: 10px;
}

#gitHubLayer .row{
    margin-top: 20px;
}

.gitHubWidget{
    padding: 0px;
    text-align: center;
}

.gitHubWidget h2{
    text-align: center;
    margin: 0 0 6px;
    padding: 0;
    font-size: 24px;
    color: $brand-primary;
}

.gitHubWidget h5{
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 12px;
    color: #FFF;
}


.function {
    font-size: floor(($font-size-base * 1.3));
}

.link-content {
    h3 {
        text-transform: none;
        color: $color-white;
    }
    
    p {
        color: rgba($color-white, 0.6);
    }
}

.about p {
    margin-bottom: 0;
}
