// Base
// =====================================

body {
    color: $color-dark-fourth;
}

h1 {
    color: $color-white;
}

h2, h3 {
    color: $color-dark-third;
}

h3 {
    text-transform: uppercase;
}


.lead {
    font-size: floor(($font-size-base * 1.5));
    font-weight: $font-regular;
    color: rgba($color-white, 0.4);
}

.function {
    font-size: floor(($font-size-base * 1.3));
}

.link-content {
    h3 {
        text-transform: none;
        color: $color-white;
    }
    
    p {
        color: rgba($color-white, 0.6);
    }
}

.about p {
    margin-bottom: 0;
}
