@(section: Section, status: Option[Int] = None)(implicit request: RequestHeader)

<div class="col-xs-12 col-sm-6 col-md-4">
  <a href="@section.title">
    <div class="tech scala">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">@section.title</h3>
        </div>
        <div class="panel-body">
          <p>@section.description</p>

          @status match {
            case Some(n) if n > 0 => {

              @defining( 100*n/section.categories.size ) { percent =>
                <div class="content-progres-bar">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width : @percent% ;"></div>
                  </div>
                  <span>@n/@section.categories.size</span>
                </div>
              }
            }
            case _ => {
              <div><button class="btn btn-primary btn-sm">Start</button></div>
            }
          }

        </div>
      </div>
    </div>
  </a>
</div>