// Variables
// =====================================

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

// Colors

$brand-primary:        #859A00;
$color-light-primary:  #BDCBCE;
$color-dark-primary:   #002B37;
$color-dark-second:    #033643;
$color-dark-third:     #144754;
$color-dark-fourth:    #436C77;
$color-white:          #FFFFFF;

$color-facebook:       #39579A;
$color-twitter:        #5AA8DF;
$color-plus:           #E14A31;

// Typography

$font-family-sans-serif:  "Open Sans", sans-serif !default;

$font-light:      300;
$font-regular:    400;
$font-semibold:   600;
$font-bold:       700;

$font-size-base:          16px !default;

$font-size-h1:            floor(($font-size-base * 4)) !default; // ~64px
$font-size-h2:            floor(($font-size-base * 2.5)) !default; // ~40px
$font-size-h3:            ceil(($font-size-base * 1.4)) !default; // ~24px

$headings-font-weight:    $font-bold !default;

// Components

$buttons-padding-large-horizontal:   80px !default;
$buttons-padding-large-vertical:     12px !default;
$buttons-border-radius-large:        2px  !default;


// Buttons

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;

// Layout

$padding-layout-general-large:    90px !default;
$padding-layout-general-small:    60px !default;
