// Modals
// -----------------------------------------------------
.modal-content {
    border: none;
    @include box-shadow(0 3px 9px rgba(0, 0, 0, 0.1));
}

.modal-backdrop {
    z-index: 0;
}

.modal-body {
    ul {
        padding: 0;
        margin: {
            top: 0;
            left: 0;
            right: 0;
            bottom: 20px;
        }
        li {
            padding: 15px 0;
            list-style: none;
            border-bottom: 1px solid $line-divider;
            img {
                width: 34px;
                height: auto;
                float: left;
            }
            p {
                color: $gray-base;
                font-weight: 600;
                margin-bottom: 0;
            }
            span {
                display: block;
            }
            p,
            span {
                padding-left: 45px;
            }
            button {
                float: right;
            }
        }
    }
}