// TYPOGRAPHY
// =====================================

// Global

body {
    color: $color-dark-third;
    font-family: $font-sans-serif;
    font-size: $base-font-size;
    font-weight: $font-regular;
    line-height: $base-line-height;
    @include font-smoothing(on);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-bold;
    line-height: $base-line-height;
}

h1 {
    color: $color-white;
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

.button {
    padding: 10px 100px;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background: $color-primary;
}

// Header

#intro p {
    color: rgba($color-white, 0.3);
    font-size: ($base-font-size * 1.6);
}


// Section

// Footer

