// Books docs
// -----------------------------------------------------

#books-docs {
    background: $books-docs-bg;
    
    i {
        color: $books-docs-icons-color;
        font-size: ceil(($font-size-base * 1.6));
        margin-right: 8px;
        position: absolute;
        left: 13px;
        top: 15px;
    }

    
    h3 {
        display: inline-block;
        padding-left: ($padding-base-horizontal * 2.6);
        margin-bottom: ($line-height-computed / 1.5);
        color: $books-docs-heading-color;
    }
    
    p {
        color: $books-docs-text-color;
        line-height: 1.6;
    }
}

