@import org.scalaexercises.types.exercises._
@import org.scalaexercises.types.progress._
@import org.scalaexercises.exercises.utils.StringUtils._
@(library: Library, progress: Option[OverallUserProgressItem])(implicit request: RequestHeader)


<div class="col-xs-12 col-sm-6 col-md-4">
  @if(library.inProgress) {
    <a href="@library.githubLink" class="lib-coming-soon">
  } else {
    <a href="@library.name">
  }
    <div class="tech scala">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: @library.color;">
          <img src='data:image/svg+xml;base64,@library.logoData.getOrElse("")'/>
          <h3 class="panel-title">
            @library.name.humanizeUnderscore
            @if(library.inProgress) {
              <small class="badge">Coming soon</small>
            }
          </h3>
        </div>
        <div class="panel-body">
          @Html(library.description)

    @if(library.inProgress) {
      <div><button class="btn btn-primary btn-sm" style="background-color: @library.color;">Contribute</button></div>
    } else {
      @progress match {
        case Some(p) if p.completedSections > 0 => { @templates.widgets.progress(p.completedSections, p.totalSections, library.color) }
        case _ => {
          <div><button class="btn btn-primary btn-sm" style="background-color: @library.color;">Start</button></div>
        }
	  }}
        </div>
      </div>
    </div>
  </a>
</div>
