@(section: shared.Section, category: shared.Category, exercise: shared.Exercise)(implicit request: RequestHeader)

  <div class="exercise" data-method="@exercise.method.getOrElse("")">

    @(Html(exercise.description.getOrElse("")))

    <div class="highlight">

      <div class="ribbon-wrapper">
        <div class="ribbon-green" style="background-color: @section.color;">Complete</div>
      </div>

      <div class="compile">
        @*<button type="button" class="btn btn-default btn-xs">Compile</button>*@
      </div>
      <pre class="exercise-pre"><code class="exercise-code">@exercise.code</code></pre>
    </div>

    @(Html(exercise.explanation.getOrElse("")))

  </div>

