@(section: shared.Section)(implicit request: RequestHeader)

<div class="col-xs-12 col-sm-6 col-md-4">
  <a href="@section.title">
    <div class="tech scala">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: @section.color;">
          <h3 class="panel-title">@section.title</h3>
        </div>
        <div class="panel-body">
          <p>@section.description</p>

          @*<div><button class="btn btn-primary btn-sm">Start</button></div>*@

          @templates.widgets.progress(1, section)

        </div>
      </div>
    </div>
  </a>
</div>
