// How it work
// -----------------------------------------------------
#work {
    padding-bottom: ($padding-large-vertical * 25);
}

.steps {
    position: relative;
    .step {
        text-align: center;
        a {
            background: $step-bg;
            display: inline-block;
            color: #fff;
            height: 56px;
            width: 56px;
            outline: 8px solid $gray-lighter;
            font-size: ceil(($font-size-base * 1.6));
            line-height: ($line-height-base * 1.7);
            @include border-radius(200px);
            &:hover, &:focus, &:active {
                text-decoration: none;
                background: darken($step-bg, 5%);
            }
            @media (min-width: $screen-sm-min) {
                height: 72px;
                width: 72px;
                outline: 16px solid $gray-lighter;
                font-size: ceil(($font-size-base * 2.1));
                line-height: ($line-height-base * 1.7);
            }
        }
        div {
            > span {
                position: relative;
                color: $step-title;
                display: inline-block;
                margin-top: ($padding-large-vertical * 1.5);
                @media (min-width: $screen-sm-min) {
                    font-size: $font-size-large;
                    p {
                        font-size: $font-size-base;
                        text-align: left;
                        color: $text-color;
                    }
                }
            }
        }
        .content-info {
            position: absolute;
            padding: 30px;
            left: -20px;
            top: 50px;
            width: 380px;
            background: #fff;
            @include box-shadow(0 1px 0 rgba(0, 0, 0, .05));
        }
        .content-info:after {
            bottom: 100%;
            left: 30px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(#fff, 0);
            border-bottom-color: #fff;
            border-width: 13px;
        }
    }
    .active {
        div {
            > span {
                color: $step-title-active;
            }
        }
        a {
            background: $step-active-bg;
            &:hover {
                text-decoration: none;
                background: darken($step-active-bg, 5%);
            }
        }
    }
}

hr {
    position: absolute;
    height: 1px;
    width: 100%;
    border: none;
    background: $step-bg;
    margin: {
        top: 28px;
        bottom: 0;
    }
    @media (min-width: $screen-sm-min) {
        margin: {
            top: 36px;
            bottom: 0;
        }
    }
}